target/
*settings.xml
*.iml
*.idea
*.project
*.classpath
*.prefs
*.versionsBackup
*.vscode/
*/target/
*/.idea/
*/.vscode/
*/.settings/
*/.classpath
*/.project
*/.metadata
*/.recommenders/
*/.recommenders/
*/.cache/
*/.cache
*/.history/
*/.history
*/.gradle/
*/.gradle
*/